img{
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    width: 100px
  }
  
  body {
  background-image: url(https://previews.123rf.com/images/kaewkanya/kaewkanya1609/kaewkanya160900022/64037693-kirschbl%C3%BCte-sakura-rosa-blumen-background-vector-karte-illustration-.jpg);
  background-size: cover;
  }
  
  h1 {
      color: black;
      font-family: 'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: xxx-large;
  }
  
  p {
    color: black;
    font-family: 'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
  }
  
  
  
  