html,
body {
  margin: 0;
  width: 100%;
  background-color: var(--bluegray-300);
  scroll-behavior: smooth;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    width: 0px;
  }
  .App {
    height: 100vh;
    .aboutme {
      cursor: pointer;
      color: var(--blue-700);
    }
  }
}

@import "../components/Spinner/spinner";
@import "../pages/HomePage/homePage";
@import "../pages/PasswordsDisplay/passwordsDisplay";
