

h1 {
    color: black;
    font-family: /*'Dancing Script',*/'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

a {
    color: black;
    text-decoration: none;
}



  table{
    border: 1px solid black;
    border-collapse: collapse;
    width: -moz-available;
  }
img{
    height:128px;
}